{% extends "pages/base.html" %}


{% load i18n %}

{% block title %}{% trans "LocalWiki - Import" %}{% endblock %}

{% block header_title %}
    {% blocktrans with url=region.get_absolute_url region_slug=region.slug %}
        Import pages to <a href="{{ url }}">{{ region_slug }}</a>
    {% endblocktrans %}
{% endblock %}

{% block body %}
<body>
   <div class="content_type region">
   {% block everything_wrapper %}
        {{ block.super }}
   {% endblock %}
   </div>
</body>
{% endblock %}

{% block messages %}
  {% if form.errors %}
    <ul class="messages">
      {% for errors in form.errors.values %}
        {% for msg in errors %}
          <li>{{ msg }}</li>
        {% endfor %}
      {% endfor %}
    </ul>
  {% endif %}
  {{ block.super }}
{% endblock %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="item">
        {{ form.source_file.errors }}
        {{ form.source_file.label_tag }}: {{ form.source_file }}
        <div class="help_text">{{ form.source_file.help_text }}</div>
    </div>

    <input type="submit" value="{% trans 'Import' %}" />
</form>
{% endblock %}
