{% extends "main_content/base.html" %}

{% load i18n %}
{% load cache %}
{% load cards_tags %}
{% load static %}
{% load thumbnail %}
{% load humanize %}

{% block header_bar_wrapper %}
{% endblock %}

{% block title %}{{ block.super }} - {% trans "The grassroots effort to collect, share and open the world's local knowledge" %}{% endblock %}

{% block head_extra %}
<meta property="og:site_name" content="LocalWiki"/>
<meta property="og:image" content="https://localwiki.org{% static 'theme/img/img_fb_share.jpg' %}" />
<meta property="og:title" content="{% trans "Join us and share what you love about where you live." %}"/>
<meta property="og:description" content="{% trans "LocalWiki is a grassroots effort to collect, share and open the world's local knowledge." %}"/>
{% endblock %}

{% block main_wrapper %}
  <div class="callout">
     <div class="tagline">
        <h1>{% blocktrans %}LocalWiki is a grassroots effort to collect, share and <span class="highlight">open the world's local knowledge</span>{% endblocktrans %}</h1>
      </div>
  </div>

  <div class="interesting_cards">
      <h2>{% trans "Explore LocalWiki" %}</h2>
      {% cache 300 int_main_regions request.META.HTTP_HOST %}
          <div class="cards">
          {% for region in regions_for_cards %}
            {% show_card region %}
          {% endfor %}
          </div>

          <div class="explore_more">
            <a class="button" href="{% url 'regions:list' %}" target="_blank"><i class="fa fa-globe"></i> {% trans "Explore all communities" %}</a>
          </div>
      {% endcache %}
  </div>

{% endblock %}
